<!doctype html>
<html lang="en">
  <head>
    <title></title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  </head>
  <body>

    <section class="banner">
      <!--
    					<header>
    						<img src="assets/images/banner.jpg" class="img-fluid" alt="Responsive image">
    					</header>

oye de una vez conectate en skype ya para dejar todo bien ,almenos los enlaces.ok

          ok cuando llegues a la linea oprime enter xD
    -->
              <div class="section" id="carousel">
            <div class="container0">
                <div class="row">
                    <div class="col-md-8 mr-auto ml-auto">
                        <!-- Carousel Card -->
                        <div class="card card-raised card-carousel">
                            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                                <ol class="carousel-indicators">
                                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class=""></li>
                                    <li data-target="#carouselExampleIndicators" data-slide-to="1" class="active"></li>
                                    <li data-target="#carouselExampleIndicators" data-slide-to="2" class=""></li>
                                </ol>
                                <div class="carousel-inner">
                                    <div class="carousel-item">
                                        <img class="d-block w-100" src="assets/images/sb1.jpg" alt="First slide">
                                        <div class="carousel-caption d-none d-md-block">
                                            <h4>
                                                <i class="material-icons"></i> Yellowstone National Park, United States
                                            </h4>
                                        </div>
                                    </div>
                                    <div class="carousel-item active">
                                        <img class="d-block w-100" src="assets/images/sb2.jpg" alt="Second slide">
                                        <div class="carousel-caption d-none d-md-block">
                                            <h4>
                                                <i class="material-icons"></i> Somewhere Beyond, United States
                                            </h4>
                                        </div>
                                    </div>
                                    <div class="carousel-item">
                                        <img class="d-block w-100" src="assets/images/sb3.jpg" alt="Third slide">
                                        <div class="carousel-caption d-none d-md-block">
                                            <h4>
                                                <i class="material-icons"></i> Yellowstone National Park, United States
                                            </h4>
                                        </div>
                                    </div>
                                </div>
                                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                                    <i class="material-icons"></i>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                                    <i class="material-icons"></i>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                        </div>
                        <!-- End Carousel Card -->
                    </div>
                </div>
            </div>
        </div>



   </section>
<section class="container"  >
  <div class="cards">
                <div class="container">
                    <div class="title">
                        <h2>Conoce</h2>
                        <h3>Los trabajos mas buscados</h3>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-6">
                            <div class="card card-blog">
                                <div class="card-header card-header-image">
                                    <a href="#">
                                        <img class="img" src="assets/images/card-blog1.jpg">
                                        <div class="card-title stroke">
                                            This Summer Will be Awesome
                                        </div>
                                    </a>
                                <div class="colored-shadow" style="background-image: url(&quot;assets/images/card-blog1.jpg&quot;); opacity: 1;"></div>
                              </div>
                                <div class="card-body">
                                    <h6 class="card-category text-info">Fashion</h6>
                                    <p class="card-description">
                                        Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6">
                            <div class="card card-blog">
                                <div class="card-header card-header-image">
                                    <a href="#">
                                        <img class="img" src="assets/images/card-blog2.jpg">
                                        <div class="card-title stroke">
                                            This Summer Will be Awesome
                                        </div>
                                    </a>
                                <div class="colored-shadow" style="background-image: url(&quot;assets/images/card-blog2.jpg&quot;); opacity: 1;"></div>
                              </div>
                                <div class="card-body">
                                    <h6 class="card-category text-info">Fashion</h6>
                                    <p class="card-description">
                                        Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6">
                            <div class="card card-blog">
                                <div class="card-header card-header-image">
                                    <a href="#">
                                        <img class="img" src="assets/images/blog8.jpg">
                                        <div class="card-title stroke">
                                            This Summer Will be Awesome
                                        </div>
                                    </a>
                                <div class="colored-shadow" style="background-image: url(&quot;assets/images/blog8.jpg&quot;); opacity: 1;"></div>
                              </div>
                                <div class="card-body">
                                    <h6 class="card-category text-info">Fashion</h6>
                                    <p class="card-description">
                                        Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
                                    </p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
</section>

<section class="container2">

  <div class="cards">
                    <div class="container2">
                        <div class="title">
                            <h3>Encuentra Trabajadores</h3>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="card card-background" style="background-image: url('assets/images/esc.jpg')">
                                    <div class="card-body">
                                        <h6 class="card-category text-info">Productivy Apps</h6>
                                        <a href="#">
                                            <h3 class="card-title2 ">The Best Productivity Apps on Market</h3>
                                        </a>
                                        <p class="card-description2">
                                            Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
                                        </p>
                                        <a href="#" class="btn btn-white btn-link">
                                            <i class="material-icons">subject</i> Read Article
                                        </a>
                                        <a href="#" class="btn btn-white btn-link">
                                            <i class="material-icons">watch_later</i> Watch Later
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card card-background" style="background-image: url('assets/images/mesahd.jpg') ">
                                    <div class="card-body">
                                        <h6 class="card-category text-info">Materials</h6>
                                        <h3 class="card-title2 ">The Sculpture Where Details Matter</h3>
                                        <p class="card-description2">
                                            Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
                                        </p>
                                        <a href="#" class="btn btn-danger btn-round">
                                            <i class="material-icons">subject</i> Read Article
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

</section>




    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

  </body>
</html>
